<!DOCTYPE html>
{% load static %}
<html lang="es">
<link rel="stylesheet" href="{% static 'styles.css' %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista Vertical 2</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div id="buttons">
        <button class="btn">Habla con Tomas</button>
        <button class="btn">Mirate con Tomas</button>
        <button class="btn">Juega con Tomas</button>
    </div>
    <div id="face">
        <div class="eyes">
            <div class="left_eye"></div>
            <div class="right_eye"></div>
        </div>
        <div class="mouth_div">
            <div class="mouth"></div>
        </div>
    </div>
</body>

</html>
</html>